@charset "UTF-8";body,div,dl,p,ul{margin:0;padding:0}
body,html{width:100%;height:100%;font-size:16px;font-family:"Microsoft Yahei",Arial;-moz-user-select:none;-webkit-user-select:none;-webkit-touch-callout:none;overflow: hidden;}
a{text-decoration:none}
ul{list-style:none}
div,li,span{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	}
label { -webkit-tap-highlight-color: transparent;  -webkit-appearance: none; /*去掉手机点击出现蓝色边框*/}  
.btn{display:inline-block;width:100%;height:30px;border:none;border-radius:3px;background-color:rgba(0,102,179,.7);color:#fff;text-align:center;line-height:30px;cursor:pointer}
.btn:hover{background-color:#0066b3;color:#fff;text-decoration:none}
#box{ position:relative;overflow:hidden;margin:0 auto;max-width:720px;min-width:300px;height: 100%;}
#canvas1{position:absolute;top:0;left:0;z-index:1;transform-origin: 0 0;}

